<!-- HEADER PARTIALS -->
<%- include ("../partials/header") %>

<!-- BODY  -->

<section class="products">
  <% products.forEach((product)=>{ %>
  <div class="product-div">
    <a href="/products/<%= product._id%>" class="product">
      <div class="product-image">
        <img src="<%= product.imageCover %>" alt="" />
      </div>
      <div class="product-text">
        <h3 class="product-title"><%= product.name %></h3>

        <h5 class="price"><%= product.price %></h5>
      </div>
    </a>
  </div>
  <% }) %>
</section>

<!-- FOOTER PARTIALS -->
<%- include ("../partials/footer") %>
